	body {
		font-family: helvetica;
		/*height: 100%; */
	}
	* {
		margin: 0px;
		padding: 0px;
		border: 0px;
		text-decoration: none;
		list-style-type: none;
		color: black;
	}
	
#toggle {
	height:300px;
	width: 230px; 
	background-color: white; 
	border:1px solid black; 
	margin:1em;
	text-align:center;
}

#toggle p {
	text-align:center;
	padding:0;
} 

	/********************************* MAIN BODY ************************/
	/************* CARROUSEL ****************/

	#main_body {
			padding: 4em 0em 0em 0em;
	}  

	.photo_carrousel {
		height: 470px;
		width: 100%;
	}

	#carrousel {
		position:relative;
		margin-bottom: 3em;
		border-bottom: 1px black solid;
	}

	#carrousel ul li {
		position: absolute;
	}

	/***************** CARTE FRANCE *******************/
    #map {        
      max-width: 100%;
      max-height: 100%;
    }
    #map path {
      fill:#86AAE0;
      stroke:#FFFFFF;
      stroke-width:0.6;
      transition: fill 0.2s, stroke 0.3s;
    }
    #map path:hover {
      fill: #365B93;
      stroke: #365B93;
    }
    #map .separator {
      stroke: #333;
      fill: none;
      stroke-width:1.5;
    }
    #map .separator:hover {
      stroke: #ccc;
      fill: none;
    }
	/******************** PROMOTION ******************/
	 

	/********************* DESCRIPTION ASSOC ************************/

	#description_association{
		overflow: hidden;
		padding-top: 6em;
		border-top: 1px solid #E5E5E5;
	}

	#presentation-titre-bis_accueil{
		width: 200px;
		margin: 0 auto;
	}

	#presentation_accueil{
		width: 400px;
		margin-top: 100px;
		padding-left: 20px;
		float: left;
	}

	#presentation-logo_accueil {
		width:200px;
		height: 300px;
		float: right;
		margin-right: 300px;
	}



	#logo-fl{
		width:100%;
		height:100px;
		margin-bottom: 20px;
	}

	#logo-fleche{
		width:100px;
		height:100px;
		margin:0 auto;
		float:right;
	}
