#form_offres{
	width: 950px;
	margin: 0 auto;
}

.section_fruit_legume{
	width: 150px;
	padding: 10px;
	display: inline-block;
	background-color: 
}

.img_fruit_legume{
	width: 100px;
	height: 100px;
	display: inline-block;
}