body{
	font-family: helvetica;
	/*height: 100%; */
}

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-decoration: none;
	list-style-type: none;
	color: black;
}

.milieu_co{
	margin-top: 20px;
	width:300px;
	height:400px;
	margin:100px;
	margin: 0 auto;

}

.formulaire_co{
	float:center;
	height:150px;
	width:300px;
	border-radius: 5px;
	background-color: #C3D6DA;
	padding:50px;
	padding-left:0px; 
	margin: 0 auto;
	margin-top: 150px;

}

#form_co{
	margin-left: 100px;
	display:inline-block;
}

#pass_co, #mail_co{
	border:1px solid;
	border-radius:5px;
	width: 340px;
	float: left;
}

#validation_co{
	width:50px;
	height:30px;
	border-radius: 1px;
}

.champ_input_co{
	padding:3px ;
}
