.section_fruit_legume{
	display: inline-block;
	padding: 20px;
	text-align: center;
}

.img_fruit_legume{
	width: 100px;
	height: 100px;
}

#h2_offres{	
	padding-left: 20px;
	line-height: 200px}

#h2_fruit_legume_region{
	padding: 60px 20px 60px 20px;
}