#container_contacter{
	height:630px;
	padding:40px;
	margin-top: 20px;
}

.section-bis_contacter{
	text-align: center;
	padding: 10px;
	width: 400px;
	margin: 0 auto;
	background-color: #C3D6DA;
	border-radius: 5px;
	display:block;
}

.section_contacter{
	margin: 20px;
}

.titre-bis_contacter{
	font-family: impact;
	font-size: 16px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.titre_contacter{
	margin: 20px;
	padding: 2px;
	font-family: impact;
	letter-spacing: 2px;
	background-color: #ED5B69;
	font-size: 20px;
	text-align: center;
}

.text_contacter{
	text-align: center;
	font-size: 18px;
}

.li_contacter{
	display:block;
	text-decoration: none;
}

#tel_contacter{
	text-align: center;
}

#acces_contacter{
	border: 1px solid;
	border-radius: 5px;
	width: 200px;
	margin: 0 auto;
}