#container_forum{
	height: 100%;
	margin-top: 80px;

}

.titre_forum{
	width:100%;
	height:25px;
	background-color: #ED5B69;
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
}

.titre-bis_forum{
	color: #FFF;
	letter-spacing: 5px;
	font-size: 17px;
	width: 300px;
	height: 30px;
	padding-top:2px;
	margin: 0 auto;
}

#contenu-topic_forum{
	margin-top: 30px;
	margin-bottom: 10px;
}

#contenu-topic-bis_forum{
	height: 100%;
	width: 250px;
	margin: 0 auto;
}

#topic_forum{
	background-color: #C3D6DA;
	border-radius: 5px;
	padding: 20px;
	width: 250px;
}

#titre-topic-bis_forum{
	color: blue;
}

#newtopic-bis_forum{
	width: 500px;
	margin: 0 auto;
}

#newtopic-bis_forum{
	text-align: center;
	background-color: #C3D6DA;
	width: 500px;
	height:300px;
	padding: 20px;
	border-radius: 5px;
	margin-top: 50px;
}

#donnee_forum{
	width: 300px;
	margin: 0 auto;
}

.champ_forum{
	border: 1px solid;
	border-radius: 5px;
	float: right;
}

#contenu_forum{
	border: 2px solid;
	border-radius: 5px;
	font-size: 14px;
}

#valider_forum{
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
}