body{
	font-family: helvetica;
}

#container{
	height:630px;
	padding:40px;
}

.section_contacter{
	
	text-align: center;
	background-color: #C3D6DA;
	border-radius: 5px;
	display:block;
	margin-left: 25%;
	margin-right: 25%;
}

.h1_contacter{
	margin-left: 10px;
}

.text_contacter{
	
	margin-left: 100px;
}

.li_contacter{
	display:block;
	text-decoration: none;
}

.tel{
	text-align: left;
	margin-left: 30%;
}