#container_bo{
	height: 100%;
	margin-top: 100px;
}

#boform{	
	width: 500px;
	height: 180px;
	margin: 0 auto;
	padding-top: 150px;
}

.input_bo{
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
}

#boform a:hover{
	background: #EEE7F6;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
}

#annonces_bo{
	width: 200px;
	height: 100%;
	margin: 0 auto;

}

.annonces-bis_bo{
	background-color: #C3D6DA;
	text-align: center;
	margin: 10px;
	padding: 20px;
	border: 1px solid;
	border-radius: 5px;
}

.supprimer_bo{
	border: 1px solid;
	border-radius: 5px;
	margin-top: 00px;

}

.retour_bo{
	width: 40px;
	margin: 0 auto;
}

.retour-bis_bo{
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	margin-top: 20px;
}

#users_bo{
	width: 200px;
	height: 100%;
	margin: 0 auto;
}

.users-bis_bo{
	background-color: #C3D6DA;
	text-align: center;
	margin: 10px;
	padding: 20px;
	border: 1px solid;
	border-radius: 5px;
}

