#container_forum{
	height: 1000px;
	margin-top: 80px;

}

.titre_forum{
	width:100%;
	height:25px;
	background-color: #ED5B69;
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
}

.titre-bis_forum{
	color: #FFF;
	letter-spacing: 1px;
	font-size: 17px;
	width: 150px;
	height: 30px;
	padding-top:2px;
	margin: 0 auto;
}

#contenu-topic_forum{
	margin-top: 30px;
}

#contenu-topic-bis_forum{
	height: 400px;
	width: 220px;
	margin: 0 auto;
}

#topic_forum{
	height: 50px;
}

#newtopic_forum{
	text-align: center;
	height:300px;
	margin-top: 50px;
}

#donnee_forum{
	width: 300px;
	margin: 0 auto;
}

.champ_forum{
	border: 1px solid;
	border-radius: 5px;
	float: right;
}

#contenu_forum{
	border: 2px solid;
	border-radius: 5px;
	font-size: 14px;
}

#valider_forum{
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
}