
	body{
		font-family: helvetica;
		/*height: 100%; */
	}
	*{
		margin: 0px;
		padding: 0px;
		border: 0px;
		text-decoration: none;
		list-style-type: none;
		color: black;
	}


/*///////////////////////////////////////////////////////////////////////////////////*/

#milieu_redirection{
	width:1000px;
	height:700px;
	margin: 0 auto;
	margin-top: 100px;

}

.formulaire-ins_redirection{
	float:left;
	background-color: #C3D6DA;
	border-radius: 5px;
	margin-left: 10px;
	height:650px;
	width:530px;

}

.formulaire-co_redirection{
	float:right;
	height:140px;
	width:343px;
	border-radius: 5px;
	margin:10px;
	margin-top: 200px;
	background-color: #C3D6DA;
	padding:10px;
	padding-top:50px;

}

#formulaire-ins-titre{
	margin-top: 20px;
	margin-left:90px;
}

.photo_redirection{
	margin-top:20px;
}

.parcourir{
	margin-left: 5%;
	margin-bottom:5%;
}

.label_redirection{
	width: 210px;
	float: left;
	margin-left: 20px;
}

.champ-input_redirection{
	float:right;
	border:1px solid;
	border-radius:5px;
	padding:3px ;
	margin-right: 20px;
}

#conditions{
	margin-right: 150px;
}

.champ-co_redirection{
	width:130px;
	margin-left: 20px;
}

#cond-uti{
	color:blue;
}

.valider{
	margin-left: 80px;
	margin-top:20px;
	border-radius:1px;
}

.validation-ins_redirection{
	border:1px solid;
	border-radius:6px;
}

#validation-co{
	width:60px;
	height:30px;
	margin-left: 50px;

}


/*///////////////////////////////////////////////////////////////////////////////////*/

