#liste-offres_vendeurs{
	height: 100%;
	margin-top: 70px;
}

#titre_vendeurs{
	font-size: 25px;
	font-family: impact;
	text-align: center;
	letter-spacing: 2px;
	background-color: #ED5B69;
	height: 35px;
	padding-top: 5px;
}

#box_vendeurs{
	width: 500px;
	border: 0px solid;
	text-align: center;
	margin: 0 auto;

}

#box-bis_vendeurs{
	margin: 50px;
	border-radius: 5px;
	background-color: #C3D6DA;
	padding: 10px;
}

#image_vendeurs{
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

#img_vendeurs{
	height: 150px;
	width: 150px;
	border-radius: 5px;
}